video#player(width='480', source='', src, type='video/mp4')
  |   Your browser does not support HTML5 video.
br
button(onclick='playPause()') Play/Pause

script.
  var player = document.getElementById("player");
  var videoURL = '';

  player.src = videoURL;

  fetchVideoURL();


  function playPause() {
    if (player.paused)
      player.play();
    else
      player.pause();
  }

  function httpGetAsync(theUrl, callback) {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function () {
      if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
        callback(xmlHttp.responseText);
    }
    xmlHttp.open("GET", theUrl, true); // true for asynchronous
    xmlHttp.send(null);
  }

  function fetchVideoURL() {
    var pageURL = 'https://www.tagesschau.de/100sekunden';
    var regex = 'http:\/\/download.media.tagesschau.de\/video\/[/A-Za-z0-9-]*.websm.h264.mp4'

    httpGetAsync(pageURL, function(res) {
      var videoURL = res.match(regex);
      console.log('extracted video URL: ' + videoURL)
      player.src = videoURL;
    });
  }