style(type='text/css').
  #widget-#{widget._id} video {
    margin: 0 auto;
    display: block;
  }

video(height='220', source='', src=data, type='video/mp4')
  | Your browser does not support HTML5 video.

script.
  var player = document.querySelector('#widget-#{widget._id} video');

  function playPause() {
    if (player.paused)
      player.play();
    else
      player.pause();
  }
