center 
  video#player(height='215', source='', src=data, type='video/mp4', margin='0 auto')
    |   Your browser does not support HTML5 video.
  br

script.
  var player = document.getElementById("player");

  function playPause() {
    if (player.paused)
      player.play();
    else
      player.pause();
  }
