video#player(height='240', source='', src=videoURL, type='video/mp4')
  |   Your browser does not support HTML5 video.
br
button(onclick='playPause()') Play/Pause

script.
  var player = document.getElementById("player");

  function playPause() {
    if (player.paused)
      player.play();
    else
      player.pause();
  }